body {
font-size: 20pt;
font-family: Arial Black;
color:#a3a3a3;
background-color:#003366;
line-height: 24pt;
padding-left: 5pt;
padding-right: 5pt;
padding-top: 5pt;
}
h1 {
font-size: 30pt;
font-family: Arial Black;
color:#dfdfdf;
font-weight: Bold;
line-height: 34pt;
}
h2 {
font-size: 28pt;
font-family: Arial Black;
color:#dfdfdf;
font weight: Bold;
line-height: 32pt;
}